<ion-view view-title="JFX Journal"  ng-init="showLoading()">
  <ion-content ng-init="news_slidebox()" >

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh_beranda()">
    </ion-refresher>
    <ion-slide-box auto-play="true" does-continue="true" show-pager="true">

       <ion-slide  ng-repeat="berita_slidebox in result_news_slidebox">
          <a href="#/app/beranda_berita_terbaru/{{berita_slidebox.id}}">
            <div class = "box boxsize">
               <img ng-src="{{berita_slidebox.img_thumbnail}}" width="100%"  height="100%" alt="">
               <div class="carousel-caption caption-bg">
                   <h4 class="caption-title">{{berita_slidebox.judul}}</h4>
               </div>
            </div>
          </a>
       </ion-slide>

    </ion-slide-box>

    <div class="list">
    <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-striped tabs-top tabs-background-positive tabs-color-light">


        <ion-tab title="Terpopuler" class="tab-title" ng-init="news_populer()">
                  <div class="list tab-content">
                    <div  ng-repeat="berita_populer in result_news_populer">
                      <a class="item item-thumbnail-left" href="#/app/beranda_berita_populer/{{berita_populer.id}}">
                        <img ng-src="{{berita_populer.img_thumbnail}}">
                        <h2 class="no-wrap">{{berita_populer.judul}}</h2>
                        <p>{{berita_populer.clean_date}}</p>
                      </a>
                      </div>
                    </div>
        </ion-tab>

        <ion-tab title="Terbaru" class="tab-title" ng-init="news_terbaru()">
                    <div class="list tab-content">
                      <div  ng-repeat="berita_terbaru in result_news_terbaru">
                        <a class="item item-thumbnail-left" href="#/app/beranda_berita_terbaru/{{berita_terbaru.id}}">
                          <img ng-src="{{berita_terbaru.img_thumbnail}}">
                          <h2 class="no-wrap">{{berita_terbaru.judul}}</h2>
                          <p>{{berita_terbaru.clean_date}}</p>
                        </a>
                        </div>
                      </div>
          </ion-tab>

      </ion-tabs>

    </div>

  </ion-content>
</ion-view>
