<ion-view view-title="Berita Populer"  ng-init="showLoading()">
  <ion-content ng-init="news_populer_detail()">
<div class="list card" ng-repeat="berita_detail in result_news_populer_detail">

  <div class="item item-avatar">
    <img ng-src="img/favicon.ico">
    <h2 class="no-wrap">{{berita_detail.judul}}</h2>
    <p>{{berita_detail.clean_date}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{berita_detail.img_thumbnail}}">
    <div ng-bind-html="berita_detail.content">

    </div>
    <br>
      <a href="#" class="subdued">Category: </a>
      <a href="#/app/category/{{berita_detail.category[0]['slug']}}" ng-click="judul({'slug':'{{berita_detail.category[0]['slug']}}','name':'{{berita_detail.category[0]['name']}}'})" class="subdued">{{berita_detail.category[0]['name']}}</a>
      <br>
      <h1>
        <i onclick="window.plugins.socialsharing.shareViaFacebook('{{berita_detail.judul}}', '{{berita_detail.img_thumbnail}}', '{{berita_detail.link}}', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})" class="icon ion-social-facebook"></i> &nbsp
        <i onclick="window.plugins.socialsharing.shareViaTwitter('{{berita_detail.judul}}', '{{berita_detail.img_thumbnail}}', '{{berita_detail.link}}', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})" class="icon ion-social-twitter"></i> &nbsp
        <i onclick="window.plugins.socialsharing.shareViaWhatsApp('{{berita_detail.judul}}', '{{berita_detail.img_thumbnail}}', '{{berita_detail.link}}', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})" class="icon ion-social-whatsapp"></i> &nbsp
      </h1>
  </div>

  </ion-content>
</ion-view>