<ion-view ng-init="showLoading()" view-title="{{getjudul()}}">
  <ion-content   ng-init="news_category()">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh_category()">
    </ion-refresher>
    <div class="list">
    <div ng-repeat="berita in result_news_category">
        <a class="item item-thumbnail-left" href="#/app/category_detail/{{berita.id}}">
          <img ng-src="{{berita.img_thumbnail}}">
          <h2 class="no-wrap">{{berita.judul}}</h2>
          <p>{{berita.clean_date}}</p>
        </a>
    </div>
    </div>


    </div>
    <div class="list">
      <center>
        <div>
          <a href="#">
            <button class="button button-outline button-small button-positive">
            Muat Berita Lebih Banyak ..
            </button>
          </a>
        </div>
      </center>
      <br>
    </div>

  </ion-content>
</ion-view>