<ion-view view-title="{{getjudul()}}"  ng-init="showLoading()">
  <ion-content ng-init="news_terbaru_detail()">
<div class="list card" ng-repeat="berita_detail in result_news_terbaru_detail">

  <div class="item item-avatar">
    <img ng-src="img/favicon.ico">
    <h2 class="no-wrap">{{berita_detail.judul}}</h2>
    <p>{{berita_detail.clean_date}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{berita_detail.img_thumbnail}}">
    <div ng-bind-html="berita_detail.content">

    </div>
    <br>
      <a href="#" class="subdued">Category: </a>
      <a href="#/app/category/{{berita_detail.category[0]['slug']}}" ng-click="judul({'slug':'{{berita_detail.category[0]['slug']}}','name':'{{berita_detail.category[0]['name']}}'})" class="subdued">{{berita_detail.category[0]['name']}}</a>
  </div>

</div>

  </ion-content>
</ion-view>