<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-light">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
       <ion-item menu-close href="#/app/beranda">
          <strong>Home</strong>
        </ion-item>
        <ion-item>
          <strong>Ekonomi Bisnis</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/global-markets" ng-click="judul({'slug':'global-markets','name':'Global Market'})">
          &nbsp&nbsp&nbsp Global Market
        </ion-item>
        <ion-item menu-close href="#/app/category/us-markets" ng-click="judul({'slug':'us-markets','name':'US Market'})">
          &nbsp&nbsp&nbsp US Market
        </ion-item>
        <ion-item menu-close href="#/app/category/european-markets" ng-click="judul({'slug':'european-markets','name':'European Market'})">
          &nbsp&nbsp&nbsp European Market
        </ion-item>
        <ion-item menu-close href="#/app/category/asia-markets" ng-click="judul({'slug':'asia-markets','name':'Asia Market'})">
          &nbsp&nbsp&nbsp Asia Market
        </ion-item>
        <ion-item menu-close href="#/app/category/forex" ng-click="judul({'slug':'forex','name':'Forex'})">
          <strong>Forex</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/saham" ng-click="judul({'slug':'saham','name':'Saham'})">
          <strong>Saham</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/komoditi" ng-click="judul({'slug':'komoditi','name':'Komoditi'})">
          <strong>Komoditi</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/signal-trading" ng-click="judul({'slug':'signal-trading','name':'Signal Trading'})">
          <strong>Signal Trading</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/lifestyle" ng-click="judul({'slug':'lifestyle','name':'Lifestyle'})">
          <strong>Lifestyle</strong>
        </ion-item>
        <ion-item menu-close href="#/app/category/infografis" ng-click="judul({'slug':'infografis','name':'Infografis'})">
          <strong>Infografis</strong>
        </ion-item>
        <div class="item item-divider"><p>JFX Journal Mobile v. 1.0 Dev.</p></div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
