/* Empty. Add your own CSS if you like */
.boxsize {
   height: 300px;
}

.caption-bg{
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.8));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
    background: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.8));
    bottom: 0;
    right: 0;
    left: 0;
    text-align: left;
    padding-bottom: 45px;
}

.carousel-caption {
    position: absolute;
    /*right: 15%;*/
    /*bottom: 20px;*/
    /*left: 15%;*/
    z-index: 10;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.caption-title {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-pager .slider-pager-page {
    color: #FFF;
}

.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
}

.tab-title {
    font-size: 1.8em;
    line-height: 2.5;
     color: #FFF;
     font-weight: 500;
     font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.tab-content {
        padding-top: 50px;
}

.no-wrap{
         white-space: normal !important;
}